

.main_body #myModal .modal-content{
    background-color: rgb(45, 165, 235);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /* color: white; */
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: white; */
    border: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
    box-shadow: 12px 12px 2px 1px rgb(43 43 72 / 62%);
    
}
#dmy{
    width: 415px;
}

.main_body input{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
}


#messagediv{
    background-color: white;
    color: red;
    border-radius: 10px;
}

.main_body .add{
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    background-color: rgb(33, 179, 33);
    font-size: 20px;
}


.table_centre{
    background-color: #faf7f2;
    width: fit-content;
    margin-left: auto;  
    margin-right: auto;  
    border-radius: 20px;
}

table, th,tr{    
    margin-top: 30px;
    border-bottom: 1px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    width: 500px;  
    text-align: center;  
    font-size: 20px;  
}

.end{
    margin-top: 40px;
}


.modal_opener{
    text-align: center;
    margin-top: 20px;
}
#myBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btn{
    background-color: rgb(33, 179, 33);
    border-radius: 5px;
    font-size: 20px;
}

td{
    justify-content: space-around;
    padding-top: 20px;
    font-size: 22px;
    padding-left: 50px;
}

#headg{
    display: none;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  /* Modal Content */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    transform: translate(-50%,-50%);
    background: white;
    padding: 100px;
    border-radius: 50px;
  }
  
  /* The Close Button */
  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
